<config template="android (default)" platform="android">Created: sá. mar. 14 09:22:34 2015&#xd;&#xd;&#xd;
By: Andres Arguelles&#xd;&#xd;&#xd;
Using Template: android (default)&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;
&lt;description to go here><option fromDef="true" value="" name="android-icon-dir"/>
    <option fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group"/>
    <option fromDef="true" value="" name="android-icon-gallery"/>
    <option fromDef="true" value="" name="android-icon-nonstandard"/>
    <option fromDef="true" value="../../../../../marmalade/7.5/extensions/s3efacebook/third-party/facebook-android-sdk/facebook/res;../../../../../marmalade/7.5/extensions/s3eandroidgoogleplaybilling/source/android/res;../../../../../marmalade/7.5/extensions/s3esamsunginapppurchasing/source/android/res" name="android-external-res"/>
    <option fromDef="true" value="" name="android-external-assets"/>
    <option fromDef="true" value="1" name="android-install-location"/>
    <option fromDef="true" value="com.Miguel.AppCampProject_ByteArt" name="android-pkgname"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="AppCampProject_ByteArt" name="name"/>
    <option fromDef="true" value="AppCampProject_ByteArt" name="caption"/>
    <option fromDef="true" value="Miguel" name="provider"/>
    <option fromDef="true" value="(C) Miguel" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="android-manifest"/>
    <option fromDef="true" value="" name="android-custom-activity"/>
    <option fromDef="true" value="../../../../../marmalade/7.5/extensions/s3eandroidgoogleplaybilling/source/android/ExtraManifests.xml;../../../../../marmalade/7.5/extensions/s3esamsunginapppurchasing/source/android/ExtraManifests.xml;../../../../../marmalade/7.5/extensions/fortumo/extras.manifest.txt" name="android-extra-manifest"/>
    <option fromDef="true" value="../../../../../marmalade/7.5/extensions/s3efacebook/source/android/extra_app_manifest.xml;../../../../../marmalade/7.5/extensions/s3eamazoninapppurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../../marmalade/7.5/extensions/s3eandroidmarketbilling/s3eAndroidMarketBillingManifest.xml;../../../../../marmalade/7.5/extensions/s3eandroidgoogleplaybilling/source/android/ExtraAppManifests.xml;../../../../../marmalade/7.5/extensions/s3esamsunginapppurchasing/source/android/ExtraAppManifests.xml;../../../../../marmalade/7.5/extensions/fortumo/extras.application.txt" name="android-extra-application-manifest"/>
    <option fromDef="false" value="(app_id,fb_app_id)" name="android-extra-strings"/>
    <option fromDef="true" value="" name="android-supports-gl-texture"/>
    <option fromDef="true" value="" name="android-unsigned"/>
    <option fromDef="true" value="" name="android-tm"/>
</config>
