<config template="android (default)" platform="android">Created: sá. mar. 14 09:22:34 2015&#xd;&#xd;&#xd;&#xd;
By: Andres Arguelles&#xd;&#xd;&#xd;&#xd;
Using Template: android (default)&#xd;&#xd;&#xd;&#xd;
&#xd;&#xd;&#xd;&#xd;
&lt;description to go here><option fromDef="true" name="android-icon-dir" value=""/>
    <option fromDef="true" name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option fromDef="true" name="android-icon-gallery" value=""/>
    <option fromDef="true" name="android-icon-nonstandard" value=""/>
    <option fromDef="true" name="android-external-res" value="../../../../../marmalade/7.5/extensions/s3efacebook/third-party/facebook-android-sdk/facebook/res;../../../../../marmalade/7.5/extensions/s3eandroidgoogleplaybilling/source/android/res;../../../../../marmalade/7.5/extensions/s3esamsunginapppurchasing/source/android/res"/>
    <option fromDef="true" name="android-external-assets" value=""/>
    <option fromDef="true" name="android-install-location" value="1"/>
    <option fromDef="true" name="android-pkgname" value="com.Andres Arguelles.AppCampProject_ByteArt"/>
    <option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="resources/common.icf;resources/app.icf"/>
    <option fromDef="true" name="name" value="AppCampProject_ByteArt"/>
    <option fromDef="true" name="caption" value="AppCampProject_ByteArt"/>
    <option fromDef="true" name="provider" value="Andres Arguelles"/>
    <option fromDef="true" name="copyright" value="(C) Andres Arguelles"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="android-manifest" value=""/>
    <option fromDef="true" name="android-custom-activity" value=""/>
    <option fromDef="true" name="android-extra-manifest" value="../../../../../marmalade/7.5/extensions/s3eandroidgoogleplaybilling/source/android/ExtraManifests.xml;../../../../../marmalade/7.5/extensions/s3esamsunginapppurchasing/source/android/ExtraManifests.xml;../../../../../marmalade/7.5/extensions/fortumo/extras.manifest.txt"/>
    <option fromDef="true" name="android-extra-application-manifest" value="../../../../../marmalade/7.5/extensions/s3efacebook/source/android/extra_app_manifest.xml;../../../../../marmalade/7.5/extensions/s3eamazoninapppurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../../marmalade/7.5/extensions/s3eandroidmarketbilling/s3eAndroidMarketBillingManifest.xml;../../../../../marmalade/7.5/extensions/s3eandroidgoogleplaybilling/source/android/ExtraAppManifests.xml;../../../../../marmalade/7.5/extensions/s3esamsunginapppurchasing/source/android/ExtraAppManifests.xml;../../../../../marmalade/7.5/extensions/fortumo/extras.application.txt"/>
    <option fromDef="false" name="android-extra-strings" value="(app_id,fb_app_id)"/>
    <option fromDef="true" name="android-supports-gl-texture" value=""/>
    <option fromDef="true" name="android-unsigned" value=""/>
    <option fromDef="true" name="android-tm" value=""/>
</config>
