<config template="project (default)" platform="project">Created: sá. mar. 14 09:22:31 2015&#xd;&#xd;
By: Andres Arguelles&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="resources/common.icf;resources/app.icf" name="config" fromDef="true"/>
    <option value="AppCampProject_ByteArt" name="name" fromDef="true"/>
    <option value="AppCampProject_ByteArt" name="caption" fromDef="true"/>
    <option value="Andres Arguelles" name="provider" fromDef="true"/>
    <option value="(C) Andres Arguelles" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
