[S3E]
MemMgrMaxAllocWarning=0
DispFixRot=FixedPortrait
SplashScreenFile = "textures/dragon.jpg" 
SplashScreenWidth = 480 
SplashScreenHeight = 720 


[GL]
VirtualWidth = 480
VirtualHeight = 720
VirtualLetterbox = 1

[QUICK]
mainFilename="main.lua"	