[S3E]
MemMgrMaxAllocWarning=0
DispFixRot=FixedPortrait
SplashScreenFile = "textures/dragon.jpg"
SplashScreenWidth = 720, 480
SplashScreenHeight = 1280, 720


[GL]
VirtualWidth = 480
VirtualHeight = 720
VirtualLetterbox = 0

[QUICK]
mainFilename="main.lua"	