[S3E]
MemMgrMaxAllocWarning=0
DispFixRot=FixedPortrait

SplashScreenBkR=237
SplashScreenBkG=240
SplashScreenBkB=183
SplashScreenFile = "textures/splash1.jpg"
SplashScreenWidth = 480
SplashScreenHeight = 720




[GL]
VirtualWidth = 480
VirtualHeight = 720
VirtualLetterbox = 0

[QUICK]
mainFilename="main.lua"	